<%= render :partial => 'menu' %>

<% content_for :head do %>
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/c/video.js"></script>
<% end %>

<% content_for :buttons do %>
  <%= local_action_button(:edit, edit_video_path(@video), :class => 'edit') %>
<% end %>

<h2>Standard Version</h2>
<p>This video will be shown to viewers using desktop browsers.</p>
<% if @video.standard_url.present? && @video.standard_processed? %>
  <p><video width="640" height="480" class="video-js vjs-default-skin" controls="controls" preload="preload">
    <source src="<%= @video.standard_url %>" type="video/mp4">
  </video></p>
<% else %>
  <p>Please be patient while we process this video</p>
<% end %>

<h2>Mobile Version</h2>
<p>This video will be shown to viewers using mobile phones and tablets.</p>
<% if @video.mobile_url.present? && @video.mobile_processed? %>
  <p><video width="320" height="240" class="video-js vjs-default-skin" controls="controls" preload="preload">
    <source src="<%= @video.mobile_url %>" type="video/mp4">
  </video></p>
<% else %>
  <p>Please be patient while we process this video</p>
<% end %>